@use "variables";
@use "mixins";
@use "responsive";
@use "header";
@use "hero-section";
@use "upsell-section";
@use "press-section";
@use "showcase-section";
@use "footer-upsell";
@use "footer";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 70px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  overflow: hidden;

  @include responsive.screen-xl {
    padding: 50px;
  }

  @include responsive.screen-md {
    padding: 32px;
    position: relative;
  }
}

.primary-heading {
  color: variables.$dark-color;
  font-family: variables.$inter-font;
  font-size: 96px;
  font-weight: 900;
  margin: 24px 0px 32px 0px;

  @include responsive.screen-md {
    font-size: 48px;
  }
}

.secondary-heading {
  color: variables.$dark-color;
  font-family: variables.$inter-font;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 24px;
}

.pink-heading {
  color: variables.$pink-color;
  font-family: variables.$inter-font;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-text-style {
  font-family: variables.$inter-font;
  font-size: 20px;
  font-weight: 400;
  color: variables.$dark-grey-color;
}

.signup-button {
  color: variables.$dark-color;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  background-color: white;
  border: 4px solid #ff8139;
  border-radius: 100px;
  padding: 23px 56px;
  margin-top: 41px;
}
